/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
/* input, textarea {
    -webkit-user-select: auto;
} */

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    /* -webkit-line-break: after-white-space;
    -webkit-user-select: auto; */
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

/* dm-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* dm-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/dm-sans-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* space-grotesk-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/space-grotesk-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* space-grotesk-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/space-grotesk-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* darker-grotesque-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/darker-grotesque-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* darker-grotesque-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/darker-grotesque-v8-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* darker-grotesque-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/darker-grotesque-v8-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* darker-grotesque-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/darker-grotesque-v8-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;

}

/* сделано так, чтобы при добавлени на сайт даже параграфа он унаследовал от бади стилистику сайта */
body {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #00242C;
    min-width: fit-content;
    position: relative;
} 

 img {
    margin: auto;
    display: block;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/*main styles start*/

/* home styles starts*/

.home {
    min-height: 1400px;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color:#00242C;
    
}

.home__wrapper {
    position: relative;
    display: block;
}

.home__persone {
    position: absolute;
    min-height: 1070px;
    translate: -50%;
    left: 50%;
    top: 87px;

}

.home__persone-div {
    position: relative;
}

#home__big-background-circle {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 50%;
    width: 616px;
    height: 616px;
    position: absolute;
    translate: -50%;
    top: 159px;
    left: 50%;
}

#home__small-background-circle-css, #home__big-background-circle-html, #home__big-background-circle-vue, #home__big-background-circle-js  {
    position: absolute;
    background: white;
    border-radius: 50%;
    display: flex;
}

#home__small-background-circle-css {
    width: 100px;
    height: 100px;
    top: 240px;
    left: -120px;
}

#home__big-background-circle-html {
    width: 80px;
    height: 80px;
    top: 70px;
    left: 500px;
}

#home__big-background-circle-vue {
    width: 90px;
    height: 90px;
    top: 280px;
    left: 580px;
}
#home__big-background-circle-vue img {
    width: 60%;
}

#home__big-background-circle-js {
    width: 150px;
    height: 150px;
    top: 0;
    left: -100px;
}








/* footer styles start*/
.footer {
    background-color: #00D1FF;
    position: relative;
    height: 342px;
    left: 0px;
}

.footer__wrapper {
    display: flex; /**/
    flex-wrap: wrap; /* перенос контента, если строка полностью заполнится элементами они начнут наезжать друг на друга*/
    align-items: center;
    justify-content: center; /*выронвять по краям контейнера*/
}

.footer__list {
    display: flex;
    flex-wrap: nowrap;
}
.footer__item {
    margin-top: 132px;
    margin-right: 74px;

}

.footer__item:last-child {
    margin-right: 0px;
}

.footer__link {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
}

.footer__link:hover, .footer__link:focus, .footer__link:active {
    opacity: .75;
}

/*footer styles end*/